body {
  font-family: "Roboto";
  margin: 0;
  background-color: #fafbfc;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 5px 0 5px;
}

.project-name {
  color: #63686c;
}

.project-name .important-part {
  color: #cb5122;
}

a[href] {
  padding: 1px 2px;
  color: #db5627;
  text-decoration: none;
  transition: color .3s, background-color .3s;
  border-radius: 4px;
}

a:hover {
  color: #fff;
  background-color: #F2751F;
}

.visible-mobile {
  display: block;
}

.visible-desktop {
  display: none;
}

@media(min-width: 600px) {
  main {
    padding: 60px 15px 0 15px;
  }
}

@media(min-width: 700px) {
  .visible-mobile {
    display: none;
  }

  .visible-desktop {
    display: block;
  }
}
