<div id="terminal">
  <div class="terminal-container">
    <button type="button"
            @click="restart()"
            class="restart-terminal-button">RESTART</button>

    <div class="terminal-user-interactions"
         v-for="interaction in terminal.interactions"
         track-by="$index"
         v-if="interaction.visible">

            <span class="terminal-question">{{interaction.question}}</span>

            <input type="text"
                   v-model="interaction.answer"
                   @keyup.enter="answer(interaction, interaction.answer)"
                   v-if="!interaction.answered && !interaction.multiple"
                   maxlength="20"
                   class="user-answer-input" />

            <button type="button"
                    class="user-answer-button"
                    v-if="!!interaction.multiple && !interaction.answered"
                    v-for="possibleAnswer in interaction.answers"
                    @click="answer(interaction, possibleAnswer);">{{possibleAnswer}}</button>

            <span class="user-answer"
                  v-if="interaction.answered">{{interaction.answer}}</span>

    </div>

    <div class="terminal-feedbacks"
         v-if="finished">

      <p class="terminal-info"
         v-if="creatingStructure">Creating structure...</p>

      <p class="terminal-info"
         v-if="installingDeps">Installing dependencies...</p>

      <p class="terminal-info"
         v-if="depsInstalled">Dependencies installed.</p>

      <p class="terminal-info"
         v-if="feedbackFinished">Happy coding!</p>
    </div>
  </div>
</div>
