.terminal-container {
  background-color: #21252b;
  padding: 5px;
  box-shadow: 0 -1px 0 #e5e5e5,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24);
}

.terminal-user-interactions {
  margin: 0 0 0 30px;
  position: relative;
  padding: 10px;
}

.terminal-question {
  margin: 5px 0;
  color: #abb2bf;
}

.terminal-question:before {
  position: absolute;
  content: ">";
  color: #98c379;
  left: -20px;
}

.user-answer {
  margin: 5px 0 0 15px;
  color: #d19a66;
}
