header {
  height: 40px;
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 -1px 0 #e5e5e5,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24);
}

header .project-name-container {
  padding-top: 10px;
  float: left;
  text-align: left;
}

header .project-name {
  font-size: 20px;
}

header .project-options-container {
  padding-top: 10px;
  text-align: right;
  float: right;
}

@media(min-width: 600px) {
  header .project-options-container {
    text-transform: uppercase;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}
