header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.14),
              0 4px 8px rgba(0,0,0,.28);  
}

header .project-name-container {
  padding-top: 10px;
  float: left;
  text-align: left;
  cursor: pointer;
}

header .project-name {
  font-size: 20px;
}

header .project-options-container {
  padding-top: 10px;
  text-align: right;
  float: right;
}

header .header-container {
  padding: 10px;
  height: 40px;
}

@media(min-width: 600px) {
  header .project-options-container {
    text-transform: uppercase;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}
