<div id="structure">
  <div class="structure-container">
    <div class="structure-not-finished-container"
         v-if="!finished">

          <p class="structure-not-finished-info">Answer the questions above to check the structure generated :D</p>

    </div>

    <div class="structure-finished-container"
         v-if="finished">

         <n-tree :root="structure.root"
                 :client="structure.client"
                 :client-test="structure.clientTest"
                 :client-task="structure.clientTask"
                 :server="structure.server"
                 :server-test="structure.serverTest"
                 :server-task="structure.serverTask"></n-tree>
    </div>

  </div>
</div>
