<section class="tree-container">
  <div v-for="c in tree.client">
    <div v-for="cf in c"
         track-by="$index"
         class="tree-item"
         v-if="cf.visible"
         :style="stylify(cf, $index)">
      {{cf.value}}
    </div>
  </div>

  <div v-for="s in tree.server">
    <div v-for="sf in s"
         track-by="$index"
         class="tree-item"
         v-if="sf.visible"
         :style="stylify(sf, $index)">
      {{sf.value}}
    </div>
  </div>

  <div v-for="te in tree.test">
    <div v-for="tef in te"
         track-by="$index"
         class="tree-item"
         v-if="tef.visible"
         :style="stylify(tef, $index)">
      {{tef.value}}
    </div>
  </div>

  <div v-for="ta in tree.task">
    <div v-for="taf in ta"
         track-by="$index"
         class="tree-item"
         v-if="taf.visible"
         :style="stylify(taf, $index)">
      {{taf.value}}
    </div>
  </div>

  <div v-for="r in tree.root">
     <div v-for="rf in r"
          track-by="$index"
          class="tree-item"
          v-if="rf.visible"
          :style="stylify(rf, $index)">
      {{rf.value}}
     </div>
  </div>
</section>
