.stack-container {
  padding-top: 50px;
}

.stack-calling {
  font-size: 40px;
  color: #db5627;
}

.stack-group-description {
  font-size: 20px;
  color: #63686c;
  margin: 30px 0;
}

.stack-items-container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 -1px 0 #e5e5e5,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24)
}

.stack-item {
  position: relative;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.stack-item:first-of-type {
  border-top: none;
}

.stack-item-name {

}

.stack-not-ready {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  background-color: rgba(99,104,108,.5);
  color: #fff;
  border-bottom-left-radius: 4px;
}

.stack-item-description {
  color: #888;
}

@media(min-width: 1000px) {
  .stack-calling {
    font-size: 70px;
    margin-left: -35px;
  }
}
