<div id="stack">
  <div class="stack-container">
    <p class="stack-calling">Stack</p>

    <div class="stack-group" v-for="group in groups" track-by="$index">
      <p class="stack-group-description">{{group.type}}</p>

      <div class="stack-items-container">
        <div class="stack-item" v-for="item in group.items" track-by="$index">
          <p class="stack-item-name">{{item.name}}</p>
          <p class="stack-item-description">{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
