.simulation-container {
    padding-top: 50px;
}

.simulation-calling {
  font-size: 40px;
  color: #db5627;
}

@media(min-width: 1000px) {
  .simulation-calling {
    font-size: 70px;
    margin-left: -35px;
  }
}
